<div class="container main-container">  
    <h1>Lista de Usuário</h1>
    <hr>

    <p>
        <a class="btn btn-info" [routerLink]="['/usuario/adicionar']">Novo Usuário</a>
    </p>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Email</th>
                <th>Data Nascimento</th>
                <th>Escolaridade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td> {{ usuario.nome }} </td>
                <td> {{ usuario.sobrenome }} </td>
                <td> {{ usuario.email }} </td>
                <td> {{ usuario.dataNascimento | date: "dd/MM/yyyy " }} </td>
                <td> {{ TipoEscolaridade(usuario.escolaridade) }} </td>
                <td>
                    <a class="btn btn-info" [routerLink]="['/usuario/editar',usuario.id]">
                        <span class="fa fa-pencil-alt"></span>
                    </a>&nbsp;
                    <a class="btn btn-danger" [routerLink]="['/usuario/excluir',usuario.id]">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>